[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
reverse-geocode = "*"
future = "*"
flask = "*"
flask-cors = "*"

[packages]
coloredlogs = "*"

[requires]
python_version = "3.6"
