.heading h1 {
	text-align: center;
	margin: 1rem auto;
	color: #ffff99;
}
.brand-logo {
	position: relative;
	left: 10px;
}
@media screen and (max-width: 500px) {
	#globe {
		cursor: move;
	}
}
@media screen and (min-width: 500px) {
	#globe {
		cursor: move;
		width: 50%;
		height: 50%;
		float: left;
	}
}

html {
	background-color: #800000;
}
a {
	text-decoration: none;
	color: yellow;
}
.map {
 	height: 200%;
}
